.section-container {
  margin-right: 7px;
  margin-left: 7px;
  width: 22%;
}

.section-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px;
  margin-top: 1.1em;
  height: 4em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.section-title:hover {
  background-color: #eeeeee;
}

.group-arrow {
  color: #0077ff;
}

.section-content {
  padding: 10px;
  border: px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}


@media only screen and (max-width: 600px) {
  .section-container {
    width: 280px;
  }

  .section-title {
    margin-top: 1.1em;
    padding: 0px 10px 0;
  }
}
